---
layout: interior
variant: full
title: Buy
---

<article class="post">
	{% capture buy_top %}{% include buy_top.md %}{% endcapture %}{{ buy_top | markdownify }}
</article>
<figure class="panels green">
	<div class="panels--half">
		{% capture buy_subscribe %}{% include buy_subscribe.md %}{% endcapture %}{{ buy_subscribe | markdownify }}
	</div>
	<div class="panels--half">
		{% capture buy_order %}{% include buy_order.md %}{% endcapture %}{{ buy_order | markdownify }}
	</div>
</figure>
<hr>
<article class="post">
	{% capture buy_bottom %}{% include buy_bottom.md %}{% endcapture %}{{ buy_bottom | markdownify }}
</article>
