---
layout: interior
variant: full
title: Flavors
---

<figure class="panels">
	<div class="panels--third">
		{% capture flavor_ginger_lavender %}{% include flavor_ginger_lavender.md %}{% endcapture %}{{ flavor_ginger_lavender | markdownify }}
	</div>
	<div class="panels--third">
		{% capture flavor_honey %}{% include flavor_honey.md %}{% endcapture %}{{ flavor_honey | markdownify }}
	</div>
	<div class="panels--third">
		{% capture flavor_cider_hops %}{% include flavor_cider_hops.md %}{% endcapture %}{{ flavor_cider_hops | markdownify }}
	</div>
</figure>
<hr>
<article class="post green">
	{% capture flavors %}{% include flavors.md %}{% endcapture %}{{ flavors | markdownify }}
</article>
