---
layout: interior
variant: full
title: Flavors
---

<figure class="panels">
	<div class="panels--third">
		{% capture flavor_ginger_lavender %}{% include flavor_ginger_lavender.md %}{% endcapture %}{{ flavor_ginger_lavender | markdownify }}
	</div>
	<div class="panels--third">
		{% capture flavor_apple_hops %}{% include flavor_apple_hops.md %}{% endcapture %}{{ flavor_apple_hops | markdownify }}
	</div>
	<div class="panels--third">
		{% capture flavor_summer_solstice %}{% include flavor_summer_solstice.md %}{% endcapture %}{{ flavor_summer_solstice | markdownify }}
	</div>
	<div class="panels--third">
		{% capture flavor_tart_cherry %}{% include flavor_tart_cherry.md %}{% endcapture %}{{ flavor_tart_cherry | markdownify }}
	</div>
</figure>
<hr>
<article class="post green">
	{% capture flavors %}{% include flavors.md %}{% endcapture %}{{ flavors | markdownify }}
</article>
