---
layout: interior
variant: full
title: Buy
---

<aside class="placard">
	<p>Already know the drill? <a href="/contact">Drop us a line</a> to put your name on some bottles.</p>
</aside>
<article class="post">
	{% capture buy_top %}{% include buy_top.md %}{% endcapture %}{{ buy_top | markdownify }}
</article>
<figure class="panels green">
	<div class="half">
		{% capture buy_subscribe %}{% include buy_subscribe.md %}{% endcapture %}{{ buy_subscribe | markdownify }}
	</div>
	<div class="half">
		{% capture buy_order %}{% include buy_order.md %}{% endcapture %}{{ buy_order | markdownify }}
	</div>
</figure>
<hr>
<article class="post">
	{% capture buy_bottom %}{% include buy_bottom.md %}{% endcapture %}{{ buy_bottom | markdownify }}
</article>
