// Base
// ----

// Apply a natural box layout model to everything
*,
*:before,
*:after {
	box-sizing: border-box;
}

// Set text selection background color
// @include selection(#b3d4fd);

// Global
// --------------------------------------------------------
html,
body,
button,
textarea,
input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html {
	font-size: 100%;
}

body {
	font-family: $fontBody;
	font-size: 1em;
	font-weight: $regular;
	line-height: $baseLineHeight;
	color: $grayDark;
	background-color: $offWhite;
}

// Typography
// --------------------------------------------------------
// Block-level elements
// --------------------------
%proto-heading {
	line-height: 1;
	margin: 0;
}

h1 {
	@extend %proto-heading;
	// font-size: $alpha;
}

h2 {
	@extend %proto-heading;
	// font-size: $beta;
}

h3 {
	@extend %proto-heading;
	// font-size: $gamma;
}

h4 {
	@extend %proto-heading;
	// font-size: $delta;
}

h5 {
	@extend %proto-heading;
	// font-size: $epsilon;
}

h6 {
	@extend %proto-heading;
	// font-size: $zeta;
}

p {
	margin: 0 0 $verticalSpace;
}

ul, 
ol {
	// Base list styles
}

hr {
	// display: block;
	// border: 0;
	// border-top: 1px solid $black;
	// margin: 0;
	// padding: 0;
}

input,
textarea,
button {
    &:focus {
        outline: none;
    }
}

// Inline elements
// --------------------------
a,
[type=submit] {
	-webkit-tap-highlight-color: transparentize($blue, 0.7);
	color: inherit;
	text-decoration: none;
	transition: $duration color ease-out, $duration box-shadow ease-out; 
	box-shadow: 0 1px 0 0 $blueLight;
	&:visited {   
		color: inherit;
	}
	&:hover,
	&:focus {
		color: $blue;
		box-shadow: 0 1px 0 0 transparent;
	}
	&:focus {
		outline: 0;
	}
}

b,
strong {
	// font-weight: $bold;
}

// Flexslider
// --------------------------------------------------------
ul.slides {
    @include clearfix;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    li {
        display: none;
        &:first-child {
            display: block;
        }
    }
}

// ul
.flex-direction-nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
