// Base
// ----

// Apply a natural box layout model to everything
*,
*:before,
*:after {
	box-sizing: border-box;
}

// TODO set this once colors are final
@include selection(transparentize($green, 0.8));

// Global
// --------------------------------------------------------
html,
body,
button,
textarea,
input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html {
	font-size: 100%;
}

body {
	min-width: 320px;
	font-family: $fontBody;
	// 22px
	font-size: 1.375em;
	font-weight: $regular;
	line-height: $baseLineHeight;
	color: $grayDark;
	@include respond($erie) {
		// 18px;
		font-size: 1.125em;
	}
}

// Typography
// --------------------------------------------------------
// Block-level elements
// --------------------------
%proto-heading {
	margin: 0;
}

h1,
h2 {
	@extend %proto-heading;
	font-size: $alpha;
}

h3 {
	@extend %proto-heading;
	font-size: $beta;
}

h4 {
	@extend %proto-heading;
	font-size: $gamma;
}

h5,
h6 {
	@extend %proto-heading;
	font-size: $epsilon;
}

p {
	margin: 0 0 $verticalSpace;
}

ul, 
ol {
	nav & {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}
}

hr {
	width: 100%;
	max-width: $figureWidth;
	border: 0;
	border-top: $lineThickness solid $blueLight;
	margin: ($verticalSpace * 2) auto;
}

input,
textarea,
button {
    &:focus {
        outline: none;
    }
}

// Inline elements
// --------------------------
a,
[type=submit] {
	color: inherit;
	text-decoration: none;
	transition: $duration color ease-out, $duration box-shadow ease-out; 
	box-shadow: 0 ($lineThickness * -1) 0 0 $blueLight inset;
	&:visited {   
		color: inherit;
	}
	&.active,
	&:hover {
		color: $blue;
		box-shadow: 0 ($lineThickness * -1) 0 0 transparent inset;
	}
	&:focus {
		outline: 0;
	}
}

b,
strong {
	font-weight: $bold;
}
