// Components
// ----------

// Global
// --------------------------------------------------------
.container {
	width: 100%;
	max-width: $containerWidth;
	padding: 0 1em;
	margin: 0 auto;
	@include respond($malawi) {
		padding: 0 0.5em;
	}
}

// Page header
// --------------------------
.page-header {
	padding: ($verticalSpace * 2) 0;
}

// a
.logo {
	display: block;
	width: 100%;
	max-width: 15em;
	margin: 0 auto $verticalSpace;
	box-shadow: none;
	img {
		display: block;
		width: 100%;
		image-rendering: optimizeQuality;
	}
	@include respond($erie) {
		img {
			image-rendering: auto;
		}
	}
}

.primary-nav {
	ul {
		@include flex;
		@include flex(justify-content, center);
		@include flex(flex-wrap, wrap);
	}
	li {
		margin: 0 ($verticalSpace / 2);
	}
	.no-flexbox & {
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			vertical-align: top;
		}
	}
}

// Page footer
// --------------------------
.page-footer {
	@include full-bleed($offWhite, down);
	font-size: $epsilon;
	font-weight: $medium;
	color: $grayLight;
	padding: ($verticalSpace * 2) 0 $verticalSpace;
	p {
		text-align: center;
	}
}

.footer-nav {
	margin-bottom: $verticalSpace;
	ul {
		@include flex;
		@include flex(justify-content, center);
		@include flex(flex-wrap, wrap);
	}
	li {
		margin: 0 ($verticalSpace / 2);
	}
	.no-flexbox & {
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			vertical-align: top;
		}
	}
}

.totem {
	display: inline-block;
	vertical-align: top;
	width: 1.875em;
	padding-top: 0.4em;
	opacity: $opacity;
}

// Page content
// --------------------------
.page-content {
	@include constrained;
	padding-top: ($verticalSpace * 2);
	margin-bottom: ($verticalSpace * 2);
	.full & {
		max-width: 100%;
	}
}

// hr
.interior-line {
	@include constrained;
	height: $lineThickness * 2;
	background-color: $offWhite;
	border: 0;
	margin-top: 0;
	margin-bottom: 0;
}

// Content components
// --------------------------------------------------------
// Homepage components
// --------------------------
.homepage-content {
	width: 100%;
	max-width: $homeWidth;
	margin: 0 auto;	
}

// figure
.homepage-figure {
	margin-bottom: ($verticalSpace * 2);
	img {
		display: block;
		width: 100%;
	}
}

.homepage-lead {
	margin-bottom: ($verticalSpace * 2);
	p {
		width: 100%;
		max-width: ($contentWidth / ($beta / 1em));
		font-size: $beta;
		text-align: center;
		margin: 0 auto;
	}
}

// Post
// --------------------------
.post {
	margin-bottom: ($verticalSpace * 2);	
	& + & {
		padding-top: ($verticalSpace * 2);
		position: relative;
		&:before {
			content: "";
			display: block;
			width: $figureWidth;
			border-top: $lineThickness solid $blueLight;
			position: absolute;
			top: ($lineThickness / -2);
			left: calc(50% - (#{$figureWidth} / 2));
			.no-csscalc & {
				width: 100%;
			}
		}
	}
	.full & {
		@include constrained;
	}
	&.green {
		strong {
			color: $green;
		}
	}
}

.post--title {
	@include beta;
	line-height: 1;
	margin-bottom: 0.618em;
	a {
		box-shadow: none;
	}
}

.post--byline {
	font-size: $epsilon;
	font-weight: $medium;
	color: $grayLight;
	margin: -0.5em 0 1em;
}

// Content figure
// --------------------------
// figure
.content-figure {
	$overhang: (($contentWidth - $figureWidth) / 2);
	margin: $verticalSpace 0;
	&.wide {
		width: auto;
		margin-right: -$overhang;
		margin-left: -$overhang;
		figcaption {
			padding-right: $overhang;
			padding-left: $overhang;
		}
	}
	&.narrow {
		width: 100%;
		max-width: $figureWidth;
		margin-right: auto;
		margin-left: auto;
	}
	img {
		display: block;
		width: 100%;
	}
	figcaption {
		padding-top: 0.4em;
		p {
			font-size: $epsilon;
			font-weight: $medium;
			color: $grayLight;
			line-height: $lessLineHeight;
		}
	}
	@include respond($huron) {
		&.wide {
			margin-right: calc(((100vw - #{$contentWidth}) / -2) + 1em);
			margin-left: calc(((100vw - #{$contentWidth}) / -2) + 1em);
			figcaption {
				padding-right: calc(((100vw - #{$contentWidth}) / 2) - 1em);
				padding-left: calc(((100vw - #{$contentWidth}) / 2) - 1em);
			}
		}
	}
	@include respond($baikal) {
		&.wide {
			margin-right: 0;
			margin-left: 0;
			figcaption {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
}

// Panels
// --------------------------
.panels {
	$space: 1em;
	@include flex;
	@include flex(justify-content, center);
	@include flex(flex-wrap, wrap);
	text-align: center;
	.third {
		width: calc(33.333% - ((#{$space} * 2) / 3));
		min-width: 15.682em;
		& + .third {
			margin-left: $space;
		}
	}
	.half {
		width: 100%;
		max-width: 18.666em;
		margin: 0 ($space / 2);
	}
	.title {
		@include beta;
		width: 100%;
		color: $white;
		line-height: $lessLineHeight;
		background-position: 0 50%;
		background-size: cover;
		padding-bottom: 61.8%;
		margin-bottom: 0.5em;
		position: relative;
		&.blue {
			background-image: url('../images/blue.jpg');
			text-shadow: 0 0 $shadowBlur transparentize($blue, $shadowOpacity);
		}
		&.orange {
			background-image: url('../images/orange.jpg');
			text-shadow: 0 0 $shadowBlur transparentize($orange, $shadowOpacity);
		}
		&.green {
			background-image: url('../images/green.jpg');
			text-shadow: 0 0 $shadowBlur transparentize($green, $shadowOpacity);
		}
		&.gray,
		&.gray-alt {
			text-shadow: 0 0 $shadowBlur transparentize($grayLighter, $shadowOpacity);
		}
		&.gray {
			background-image: url('../images/grass.jpg');
		}
		&.gray-alt {
			background-image: url('../images/goldenrod.jpg');
		}
	}
	b {
		@include flex;
		@include flex(align-items, center);
		@include flex(justify-content, center);
		padding: 0 1em;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	p {
		padding: 0 ($space / 2);
	}
	.no-csscalc & {
		margin: 0 ($space / -2);
		.third {
			width: 33.333%;
			padding: 0 ($space / 2);
			& + .third {
				margin-left: 0;
			}
		}
	}
	.no-flexbox & {
		@include clearfix;
		.half,
		.third {
			float: left;
		}
		.title {
			padding: ($verticalSpace * 2) 0;
		}
		b {
			display: block;
			position: static;
		}
	}
	@include respond($victoria) {
		.third {
			width: 100%;
			min-width: 0;
			max-width: 18.666em;
			margin: 0 ($space / 2);
			& + .third {
				margin-left: ($space / 2);
			}
		}
		.no-csscalc & {
			margin: 0;
			.third {
				width: 100%;
				margin: 0;
			}
		}
		.no-flexbox & {
			text-align: center;
			.half,
			.third {
				display: inline-block;
				vertical-align: top;
				float: none;
			}
		}
	}
	@include respond($baikal	) {
		.half,
		.third {
			margin: 0;
			& + .third {
				margin-left: 0;
			}
		}
	}
	@include respond($erie) {
		p {
			padding: 0;
		}
	}
}
