// Components
// ----------

// Global
// --------------------------------------------------------
.container {
	width: 100%;
	max-width: $containerWidth;
	padding: 0 1em;
	margin: 0 auto;
	@include respond($malawi) {
		padding: 0 0.5em;
	}
}

// Page header
// --------------------------
.page-header {
	padding: ($verticalSpace * 2) 0;
	@include respond($winnipeg) {
		padding: $verticalSpace 0;
	}
}

// a
.logo {
	display: block;
	width: 100%;
	max-width: 15em;
	margin: 0 auto $verticalSpace;
	box-shadow: none;
	img {
		display: block;
		width: 100%;
		image-rendering: optimizeQuality;
	}
	@include respond($erie) {
		img {
			image-rendering: auto;
		}
	}
	@include respond($winnipeg) {
		max-width: 12em;
	}
}

.primary-nav {
	ul {
		@include flex;
		@include flex(justify-content, center);
		@include flex(flex-wrap, wrap);
	}
	li {
		margin: 0 ($verticalSpace / 2);
	}
	.no-flexbox & {
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			vertical-align: top;
		}
	}
}

// Page footer
// --------------------------
.page-footer {
	@include full-bleed($offWhite, down);
	font-size: $epsilon;
	font-weight: $medium;
	color: $grayLight;
	padding: ($verticalSpace * 2) 0 $verticalSpace;
	p {
		line-height: $lessLineHeight;
		text-align: center;
	}
}

.footer-nav {
	margin-bottom: $verticalSpace;
	ul {
		@include flex;
		@include flex(justify-content, center);
		@include flex(flex-wrap, wrap);
	}
	li {
		margin: 0 ($verticalSpace / 2);
	}
	.no-flexbox & {
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			vertical-align: top;
		}
	}
}

.totem {
	display: inline-block;
	vertical-align: top;
	width: 1.875em;
	padding-top: 0.4em;
	opacity: $opacity;
}

// Page content
// --------------------------
.page-content {
	@include constrained;
	padding-top: ($verticalSpace * 2);
	margin-bottom: ($verticalSpace * 3);
	.full & {
		max-width: 100%;
	}
	@include respond($winnipeg) {
		padding-top: $verticalSpace;
		margin-bottom: ($verticalSpace * 2);
	}
}

// hr
.interior-line {
	@include constrained;
	height: $lineThickness * 2;
	background-color: $offWhite;
	border: 0;
	margin-top: 0;
	margin-bottom: 0;
}

// Content components
// --------------------------------------------------------
// Homepage components
// --------------------------
.homepage-content {
	width: 100%;
	max-width: $homeWidth;
	margin: 0 auto;	
}

// figure
.homepage-figure {
	margin-bottom: ($verticalSpace * 2);
	img {
		display: block;
		width: 100%;
	}
	@include respond($winnipeg) {
		margin-bottom: $verticalSpace;
	}
}

.homepage-lead {
	margin-bottom: ($verticalSpace * 2.25);
	p {
		width: 100%;
		max-width: ($contentWidth / ($beta / 1em));
		font-size: $beta;
		line-height: $lessLineHeight;
		text-align: center;
		margin: 0 auto;
		& + p {
			margin-top: $verticalSpace;
		}
	}
	@include respond($winnipeg) {
		margin-bottom: ($verticalSpace * 1.5);
	}
}

// Post
// --------------------------
.post {
	@include strong-colors;
	margin-bottom: ($verticalSpace * 2);	
	& + & {
		padding-top: ($verticalSpace * 2);
		position: relative;
		&:before {
			content: "";
			display: block;
			width: $figureWidth;
			border-top: $lineThickness solid $blueLight;
			position: absolute;
			top: ($lineThickness / -2);
			left: calc(50% - (#{$figureWidth} / 2));
			.no-csscalc & {
				width: 100%;
			}
		}
	}
	.full & {
		@include constrained;
	}
	@include respond($winnipeg) {
		margin-bottom: $verticalSpace;
	}
}

.post--title {
	@include beta;
	line-height: $lessLineHeight;
	margin-bottom: 0.462em;
	a {
		box-shadow: none;
	}
	p + & {
		padding-top: 0.618em;
	}
}

.post--byline {
	font-size: $epsilon;
	font-weight: $medium;
	color: $grayLight;
	margin: -0.5em 0 1em;
}

// Content figure
// --------------------------
// figure
.content-figure {
	$overhang: (($contentWidth - $figureWidth) / 2);
	margin: $verticalSpace 0;
	&.wide {
		width: auto;
		margin-right: -$overhang;
		margin-left: -$overhang;
		figcaption {
			padding-right: $overhang;
			padding-left: $overhang;
		}
	}
	&.narrow {
		width: 100%;
		max-width: $figureWidth;
		margin-right: auto;
		margin-left: auto;
	}
	img {
		display: block;
		width: 100%;
	}
	figcaption {
		padding-top: 0.4em;
		p {
			font-size: $epsilon;
			font-weight: $medium;
			color: $grayLight;
			line-height: $lessLineHeight;
		}
	}
	@include respond($huron) {
		&.wide {
			margin-right: calc(((100vw - #{$contentWidth}) / -2) + 1em);
			margin-left: calc(((100vw - #{$contentWidth}) / -2) + 1em);
			figcaption {
				padding-right: calc(((100vw - #{$contentWidth}) / 2) - 1em);
				padding-left: calc(((100vw - #{$contentWidth}) / 2) - 1em);
			}
		}
	}
	@include respond($baikal) {
		&.wide {
			margin-right: 0;
			margin-left: 0;
			figcaption {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
}

// Panels
// --------------------------
.panels {
	$space: 1em;
	@include strong-colors;
	@include flex;
	@include flex(justify-content, center);
	@include flex(flex-direction, row);
	@include flex(flex-wrap, wrap);
	text-align: center;
	margin: 0 ($space / -2) $verticalSpace;
	.third,
	.half {
		padding: 0 ($space / 2);
		margin-bottom: $verticalSpace;
	}
	.third {
		@include flex(flex-basis, 33.333%);
	}
	.half {
		@include flex(flex-basis, ($figureWidth + $space));
	}
	.title {
		@include beta;
		width: 100%;
		color: $white;
		line-height: $lessLineHeight;
		background-position: 0 50%;
		background-size: cover;
		padding-bottom: 61.8%;
		margin-bottom: 0.5em;
		position: relative;
		&.blue {
			background-image: url('../images/blue.jpg');
			text-shadow: 0 0 $shadowBlur transparentize($blue, $shadowOpacity);
		}
		&.orange {
			background-image: url('../images/orange.jpg');
			text-shadow: 0 0 $shadowBlur transparentize($orange, $shadowOpacity);
		}
		&.green {
			background-image: url('../images/green.jpg');
			text-shadow: 0 0 $shadowBlur transparentize($green, $shadowOpacity);
		}
		&.gray,
		&.gray-alt {
			text-shadow: 0 0 $shadowBlur transparentize($grayLighter, $shadowOpacity);
		}
		&.gray {
			background-image: url('../images/grass.jpg');
		}
		&.gray-alt {
			background-image: url('../images/goldenrod.jpg');
		}
	}
	b {
		@include flex;
		@include flex(align-items, center);
		@include flex(justify-content, center);
		padding: 0 1em;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	p {
		padding: 0 ($space / 2);
		margin-bottom: 0;
		& + p {
			margin-top: $verticalSpace;
		}
	}
	.no-flexbox & {
		@include clearfix;
		.third {
			width: 33.333%;
			float: left;
		}
		.half {
			display: inline-block;
			vertical-align: top;
			max-width: ($figureWidth + $space);
		}
		.title {
			padding: ($verticalSpace * 2) 0;
		}
		b {
			display: block;
			position: static;
		}
	}
	@include respond($victoria) {
		.third {
			@include flex(flex-basis, ($figureWidth + $space));
		}
		.no-flexbox & {
			.third {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				max-width: ($figureWidth + $space);
				float: none;
			}
		}
	}
	@include respond($tanganyika) {
		.third,
		.half {
			@include flex(flex-basis, 50%);
		}
	}
	@include respond($baikal) {
		margin-right: 0;
		margin-left: 0;
		.third,
		.half {
			@include flex(flex-basis, $figureWidth);
			padding: 0;
		}
		.no-flexbox & {
			.third,
			.half {
				max-width: $figureWidth;
			}
		}
	}
	@include respond($erie) {
		p {
			padding: 0;
		}
	}
	@include respond($erie) {
		margin-bottom: 0;
	}
}

// Forms
// --------------------------
form {
	@include flex;
	@include flex(justify-content, space-between);
	@include flex(flex-wrap, wrap);
	.input {
		font-size: $delta;
		margin-bottom: $verticalSpace;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.half {
		width: calc(50% - 0.5em);
	}
	.whole {
		width: 100%;
	}
	label {
		display: block;
		margin-bottom: 0.1em;
	}
	[type=text],
	[type=email],
	textarea {
		display: block;
		width: 100%;
		font-family: $fontBody;
		background-color: transparentize($grayLighter, 0.7);
		padding: 0 0.5em 0;
		border: 0;
		border-radius: 0;
		transition: $duration background-color $timing;
		&:focus {
			background-color: transparentize($grayLighter, 0.8);
			outline: 0;
		}
	}
	[type=text],
	[type=email] {
		height: $verticalSpace * 1.25;
	}
	textarea {
		height: $verticalSpace * 5.25;
		line-height: $baseLineHeight;
		padding-top: 0.175em;
		padding-bottom: 0.175em;
		resize: none;
	}
	[type=submit] {
		display: inline-block;
		vertical-align: top;
		font-size: $delta;
		font-weight: $medium;
		font-family: $fontBody;
		color: $grayDark;
		background-color: transparent;
		padding: 0;
		border: 0;
		border-radius: 0;
		&:focus {
			color: $blue;
			outline: none;
		}
	}
	.response,
	div.mce_inline_error {
		font-weight: $medium;
		color: $grayLight;
	}
	.response {
		font-size: $epsilon;
		margin-bottom: $verticalSpace;
	}
	div.mce_inline_error {
		font-size: 0.889em;
		padding-top: 0.2em;
	}
	.no-flexbox & {
		.half {
			width: 100%;
		}
	}
	.no-csscalc & {
		.half,
		.whole {
			padding-right: 1em;
		}
		.half {
			width: 50%;
		}
	}
	@include respond($winnipeg) {
		display: block;
		.half {
			width: 100%;
		}
	}
}
