// Fonts
// -----

// League Spartan
// --------------------------------------------------------
// Bold
@font-face {
	font-family: 'league-spartan';
	src: url('../fonts/LeagueSpartan-Bold.woff2') format('woff2'),
			 url('../fonts/LeagueSpartan-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

// Source Sans Pro
// --------------------------------------------------------
// Regular
@font-face {
  font-family: "source-sans-pro";
  src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: $regular;
  font-style: normal;
}

// Regular italic
@font-face {
  font-family: "source-sans-pro";
  src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: $regular;
  font-style: italic;
}

// Semibold
@font-face {
  font-family: "source-sans-pro";
  src: url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Semibold.woff') format('woff');
  font-weight: $medium;
  font-style: normal;
}

// Bold
@font-face {
  font-family: "source-sans-pro";
  src: url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Semibold.woff') format('woff');
  font-weight: $bold;
  font-style: normal;
}

// Bold italic
@font-face {
  font-family: "source-sans-pro";
  src: url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Semibold.woff') format('woff');
  font-weight: $bold;
  font-style: italic;
}
