// Project specific mixins
// -----------------------

@mixin beta {
	font-family: $fontHead;
	font-size: $beta;
	letter-spacing: 0.03em;	
}

@mixin constrained {
	width: 100%;
	max-width: $contentWidth;
	margin-right: auto;
	margin-left: auto;
}

// Flexbox
// --------------------------------------------------------
@mixin flex($property: "flex", $value: null) {
	$prefixes: webkit ms;
	@if $property == "flex" {
		@each $p in $prefixes {
			display: -#{$p}-flex;
		}
		display: flex;
	}
	@else {
		@each $p in $prefixes {
			-#{$p}-#{$property}: $value;
		}
		#{$property}: $value;
	}
}
