// Variables
//----------

// Colors
// --------------------------------------------------------
$opacity: 0.7;

$white: #fff;
$offWhite: #f2f2f0;
$grayLighter: #b8b4a7;
$grayLight: #9e9b90;
$gray: #7d7d79;
$grayDark: #272522;

$blue: #75b3c5;
$orange: #f19d71;
$green: #a2bb83;

$blueLight: transparentize($blue, (1 - $opacity));
$orangeLight: transparentize($orange, (1 - $opacity));
$greenLight: transparentize($green, (1 - $opacity));

// Typography
// --------------------------------------------------------
$fontBody: "Source Sans Pro", sans-serif;
$fontHead: "league-spartan", sans-serif;

// 30px
$alpha: 1.364em;
// 26px
$beta: 1.182em;
$gamma: 1em;
// 16px
$delta: 0.727em;

$regular: 400;
$medium: 600;
$bold: 700;

// Measurements
// --------------------------------------------------------
$containerWidth: 60em; 
$contentWidth: 30em;
$figureWidth: 18.54em;
$lineThickness: 0.136em;

$baseLineHeight: 1.591;
$lessLineHeight: 1.364;

$verticalSpace: $baseLineHeight * 1em;

$duration: 0.06s;
$timing: ease;

// Responsive breakpoints
// https://en.wikipedia.org/wiki/List_of_lakes_by_area
// --------------------------------------------------------
// $superior: ;
// $victoria: ;
$huron: 913px;
// $michigan: ;
// 660px
$baikal: ($contentWidth / 1em) * 22px;
// $malawi: ;
// $erie: ;
// $winnipeg: ;
// $ontario: ;
// $balkhash: ;
// $ladoga: ;
// $vostok: ;
// $onega: ;

