// Variables
//----------

// Colors
// --------------------------------------------------------
$white: #fff;
$black: #000;

// Typography
// --------------------------------------------------------
$fontHead: helvetica, sans-serif;
$fontBody: georgia, serif;

// $alpha: ;
// $beta: ;
// $gamma: ;
// $delta: ;
// $epsilon: ;
// $zeta: ;
// $eta: ;
// $theta: ;
// $iota: ;
// $kappa: ;
// $lambda: ;

// $thin: 200;
$regular: 400;
// $medium: 600;
// $bold: 700;

// Measurements
// --------------------------------------------------------
// $containerWidth: ∞;

$baseLineHeight: 1.4;
$verticalSpace: $baseLineHeight * 1em;

// $durationFast: 0.1s;
$duration: 0.2s;
// $durationSlow: 0.4s;
$timing: ease;

// Responsive breakpoints
// https://en.wikipedia.org/wiki/List_of_lakes_by_area
// --------------------------------------------------------
// $superior: ;
// $victoria: ;
// $huron: ;
// $michigan: ;
// $baikal: ;
// $malawi: ;
// $erie: ;
// $winnipeg: ;
// $ontario: ;
// $balkhash: ;
// $ladoga: ;
// $vostok: ;
// $onega: ;
