---
layout: interior
variant: full
title: Flavors
---

<figure class="panels">
	<div class="third">
		{% capture flavor_ginger_lavender %}{% include flavor_ginger_lavender.md %}{% endcapture %}{{ flavor_ginger_lavender | markdownify }}
	</div>
	<div class="third">
		{% capture flavor_honey %}{% include flavor_honey.md %}{% endcapture %}{{ flavor_honey | markdownify }}
	</div>
	<div class="third">
		{% capture flavor_blueberry_chamomile %}{% include flavor_blueberry_chamomile.md %}{% endcapture %}{{ flavor_blueberry_chamomile | markdownify }}
	</div>
</figure>
<hr>
<article class="post green">
	{% capture flavor_base %}{% include flavor_base.md %}{% endcapture %}{{ flavor_base | markdownify }}
</article>
